<!DOCTYPE html>
<html>
  <head>
    <title>ImpView Control</title>

    <%= stylesheet_link_tag 'control' %>

    <%= javascript_include_tag 'lib/jquery-1.9.1.min' %>
    <%= javascript_include_tag 'control' %>
  </head>

  <body>
    <div class="container">
      <div id="loader">
        ImpView is loading...
      </div>

      <div id="quick-controls" class="control-group">
        <a id="quick-hide-all" class="btn">Hide All</a>
        <a id="quick-fade-all" class="btn">Fade Out All</a>
      </div>

      <%= partial 'control/states' %>

      <div id="controls" style="display: none">
        <%= partial 'control/i',        locals: { shortcut: 1 } %>
        <%= partial 'control/text',     locals: { shortcut: 2 } %>
        <%= partial 'control/image',    locals: { shortcut: 3 } %>
        <%= partial 'control/video',    locals: { shortcut: 4 } %>
        <%= partial 'control/credits',  locals: { shortcut: 5 } %>
        <%= partial 'control/emoroco',  locals: { shortcut: 6 } %>
        <%= partial 'control/alphabet', locals: { shortcut: 7 } %>
      </div>
    </div>
  </body>
</html>